/* Styles for custom selects */
.done select{
	height:1px;
	width:1px;
	border:none;
	background:none;
	padding:0;
	margin:0;
    position: relative;
    left:-2px;
    z-index: -10;
	outline:none;
	-webkit-appearance: none;
	}
.select-list{
	position:			absolute;
	left:				0
	}
.custom-select{
	z-index:			1
	}
.custom-select *{
	-webkit-user-select:none;
	-khtml-user-select: none;
	-moz-user-select: 	none;
	-ms-user-select: 	none;
	-o-user-select: 	none;
	user-select: 		none;
	}
.open_list{
	z-index:			10
	}
.custom-select ul,
.custom-select li{
	margin:				0;
	padding:			0;
	list-style:			none
	}
.custom-select,
.custom-select ul{
	position:			relative;
	top:				0;
	left:				0
	}
.custom-select .custom-text{
	cursor:				pointer;
	display:			inline-block;
	}
.custom-select li{
	cursor:				pointer;
	min-height: 		25px;
	}
.select-scroll{
	position:			absolute;
	right:				2px;
	top:				2px;
	z-index:			2
	}
.default-scroll ul{
	overflow-y:			scroll
	}
.custom-scroll{
	overflow:			hidden
	}
.scroll-drag{
	display:			block;
	position:			absolute;
	left:				1px;
	cursor:				pointer
	}
.disable *{
    cursor:             default !important
    }
/* Style for example*/
.custom-select{
	font-family:		Arial, Helvetica, sans-serif;
	font-size:			11px;
	font-weight:		bold;
	}
.custom-select .custom-text,
.custom-select.disable span.custom-text:hover{
	overflow:			hidden;
	height:				26px;
	padding:			0 0 0 10px;
	line-height:		26px;
	color:				#FFF;
	text-shadow:		0 1px 1px #113870;
	/* border styles */
	-webkit-border-radius:2px;
	-moz-border-radius: 2px;
	border-radius: 		2px; 
	/* Shadow styles */
	-webkit-box-shadow: inset 0px 0px 0px 1px rgba(255, 255, 255, 0.2),
						0px 1px 2px 0px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 	inset 0px 0px 0px 1px rgba(255, 255, 255, 0.2),
						0px 1px 2px 0px rgba(0, 0, 0, 0.3);
	box-shadow: 		inset 0px 0px 0px 1px rgba(255, 255, 255, 0.2),
						0px 1px 2px 0px rgba(0, 0, 0, 0.3); 
	/* background styles */
	background: 		#2d78b7; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: 		url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzJkNzhiNyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxMzVmOWUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background:         -moz-linear-gradient(top, #2d78b7 0%, #135f9e 100%); /* FF3.6+ */
	background: 		-webkit-gradient(linear, left top, left bottom, color-stop(0%,#2d78b7), color-stop(100%,#135f9e)); /* Chrome,Safari4+ */
	background: 		-webkit-linear-gradient(top, #2d78b7 0%,#135f9e 100%); /* Chrome10+,Safari5.1+ */
	background: 		-o-linear-gradient(top, #2d78b7 0%,#135f9e 100%); /* Opera 11.10+ */
	background: 		-ms-linear-gradient(top, #2d78b7 0%,#135f9e 100%); /* IE10+ */
	background: 		linear-gradient(top, #2d78b7 0%,#135f9e 100%); /* W3C */	
	}
.custom-select .custom-text:after{
	font-size:			15px;
	position:			relative;
	top:				-6px;
	right:				12px;
	display:			block;
	content:			'̬';
	float: 				right;
	width:				6px;
	z-index: 			2;
	}
.custom-select span.custom-text:hover,
.active span.custom-text{
	background: #5c96c7; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzVjOTZjNyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxMDRiN2MiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, #5c96c7 0%, #104b7c 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5c96c7), color-stop(100%,#104b7c)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #5c96c7 0%,#104b7c 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #5c96c7 0%,#104b7c 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #5c96c7 0%,#104b7c 100%); /* IE10+ */
	background: linear-gradient(top, #5c96c7 0%,#104b7c 100%); /* W3C */
	}
.select-list{
	top:				28px;
	line-height:		25px;
	padding:			0 0 0 10px;
	background-color:	#14609e;
	color:				#bdd3e6;
	text-shadow:		0 1px 1px #113870;
	/* border styles */
	-webkit-border-radius:2px;
	-moz-border-radius: 2px;
	border-radius: 		2px; 
	/* Shadow styles */
	-webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 	0px 1px 2px 0px rgba(0, 0, 0, 0.3);
	box-shadow: 		0px 1px 2px 0px rgba(0, 0, 0, 0.3);
	}
.select-list.custom-scroll{
	padding:			2px 0 2px 10px;
	}
.select-list .selected,
.select-list li:hover{
	color:				#FFF
	}
.select-list li.disabled{
	color:				#CCCCCC;
	cursor:				default
	}
.select-scroll{
	background-color:	#73b0e2;
	width:				12px;
	-webkit-border-radius:2px;
	-moz-border-radius: 2px;
	border-radius: 		2px; 
	}
.scroll-drag{
	top:				0;
	width:				10px;
	background-color:	#14609e;
	-webkit-border-radius:2px;
	-moz-border-radius: 2px;
	border-radius: 		2px; 
	}
.maxlength .scroll-drag:after{
	display:			block;
	content:			'≡';
	font-size:			14px;
	position:			relative;
	left:				50%;
	top:				50%;
	margin:				-14px 0 0 -4px
	}
.custom-select .hover{
	color:				#FFF
	}
.disable{
    opacity:            0.5 !important;
    }
